@import url(styles.css);

.about {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--dark-blue-color-templates);
    background-color: var(--light-blue1-color-templates);
    padding: 10px;
    margin: 0.5vw;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.about_important {
    font-weight: bold;
}