@import url('styles.css');

.main_project_div{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto;
}

.projects_list{
    grid-column: 2;
}

.project_div {
    display: flex;
    flex-direction: row;
    border: 3px solid var(--dark-blue-color-templates);
    background-color: var(--light-blue1-color-templates);
    padding: 10px;
    margin: 0.5vw;
}

.project_thumbnail {
    max-height: 14vh;
}

.project_thumbnail_separator {
    width: 10px;
    background-color: var(--dark-blue-color-templates);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}