:root {
  --yellow-color-templates: #F7F6CF;
  --light-blue1-color-templates: #B6D8F2;
  --pink-color-templates: #F4CFDF;
  --dark-blue-color-templates: #5784BA;
  --light-blue2-volor-templates: #9AC8EB;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--dark-blue-color-templates);
  color: var(--pink-color-templates);
  padding: 0.5%;
  height: 65px;
  align-content: center;
  font-size: 50px;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

.nav_full_name::after {
  content: "_";
  animation: blink 1.5s infinite;
}